*.db
dapps/
.DS_Store
.ed25519-node
.idea/
*.log
__MACOSX/
nodejs/
node_modules
logs
.project
release
sqlite/
ssl/
stacktrace*
tmp
*.pid
package-lock.json
.vs/
.vscode
public/bower_components
public/npm-debug.log
public/.sass-cache
public/.tmp
public/.gulp
public/*.css
public/node_modules
*.save
accountKey.json

