body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

header {
    background: url(../images/bg1.jpeg) no-repeat center center;
    background-size: cover;
    height: 630px;
    overflow: hidden;
    position: relative;
}

nav {
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    z-index: 99;
    height: 104px;
    background:rgba(20,51,84,1);
    overflow: hidden;
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1)
}

nav.max{
    height: 100%;
}

.noscroll{
    height: 100% !important;
    overflow: hidden;
}

.nav-hidden{
    position: absolute;
    z-index: 9;
    top:104px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, .3);
}



.nav-hidden .btn{
    margin-top: 20px;
}

.nav-hidden_item{
    height: 46px;
    line-height: 46px;
    color: #fff;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 15px;
    font-weight: 400;
}

.nav-hidden_qq{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 400;
}

.nav-inner{
    height: 104px;
    display: flex;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
}

input{
    padding: 0px;
    margin: 0px;
}

input:focus{
    outline: none
}

.logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 20px
}

.logo-title{
    vertical-align: middle
}

.nav-hd {
    font-size: 22px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    margin-left: 15px;
    flex: 1;
}

.nav-bd_item {
    font-size: 16px;
    color: #fff;
    margin-right: 60px;
}

.nav-icon{
    position: relative;
    width: 48px;
    height: 48px;
    display: none;
}

.nav-icon.active .nav-icon_line{
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96)
}


.nav-icon.active .nav-icon_item:first-child{
    transform: rotate(45deg);
}

.nav-icon.active .nav-icon_item:first-child .nav-icon_line{
    transform: none
}

.nav-icon.active .nav-icon_item:last-child{
    transform: rotate(-45deg);
}

.nav-icon.active .nav-icon_item:last-child .nav-icon_line{
    transform: none
}

.nav-icon .nav-icon_item{
    position: absolute;
    top:9px;
    left: 9px;
    width: 30px;
    height: 30px;
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s
}

.nav-icon .nav-icon_line{
    position: absolute;
    width: 17px;
    height: 1px;
    left: 7px;
    background: #ffff;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s
}

.nav-icon .nav-icon_item:first-child .nav-icon_line{
    top: 14px;
    transform: translateY(-3px)
}

.nav-icon .nav-icon_item:last-child .nav-icon_line{
    bottom: 14px;
    transform: translateY(3px)
}






.nav-icon:before, .nav-icon:after{


    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s
}



.btn {
    width: 146px;
    height: 48px;
    line-height: 48px;
    background: rgba(255, 204, 1, 1);
    box-shadow: 0px 0px 20px 0px rgba(254, 203, 1, 0.4);
    border-radius: 4px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
}

.slogan {
    text-align: center;
    margin-top: 300px;
    margin-left: 38px;
    margin-right: 38px;
    color: rgba(255, 255, 255, 1);
    line-height: 54px;
    text-shadow: 0px 0px 30px rgba(13, 37, 62, 0.7);
    font-size: 46px;
}

.title {
    font-size: 38px;
    font-weight: 300;
    color: rgba(13, 37, 62, 1);
    line-height: 53px;
    text-align: center;
    margin-top: 125px;
}

.desc {
    font-size: 22px;
    font-weight: 300;
    color: #9ea8b2;
    line-height: 30px;
    text-align: center;
    margin-top: 23px;
}

.test-sec{
    display: flex;
    justify-content: center;
    margin-top: 115px;
}

.test-sec .sec-item{
    width: 480px;
    height: 618px;
    overflow: hidden;
}

.test-sec .sec-item:not(:first-child){
    margin-left: 90px;
    box-shadow: 0px 0px 60px 10px rgba(13,37,62,0.1)
}

.test-sec .item-img{
    text-align: center;
    height: 230px;
    line-height: 230px;
    font-size: 0px;
    border-bottom: 1px solid #F4F4F4
}

.test-sec .item-img img{
    vertical-align: middle
}

.test-sec .item-input{
    padding: 0 58px;
    margin-top: 52px;
}

.test-sec .item-input input{
    text-indent: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background:rgba(249,249,249,1);
    border:1px solid rgba(229,229,229,1);
    width: 100%;
}

.test-sec .item-btn{
    width:240px;
    height:64px;
    line-height: 64px;
    background:rgba(30,136,245,1);
    border-radius:4px;
    margin: 155px auto 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.test-sec .item-btn.disabled{
    background:rgba(30,136,245,.5)
}

.advantage-sec {
    display: flex;
    justify-content: center;
    margin: 55px auto;
}

.advantage-sec .sec-item {
    width: 600px;
    text-align: center;
}

.advantage-sec .sec-item.primary .sec-item_header {
    background: rgba(255, 204, 1, 1);
    border-radius: 0px 8px 0px 0px;
}

.advantage-sec .sec-item.primary .sec-item_cont{
    background:rgba(252,250,239,1);
    border-radius:0px 0px 8px 0px;
    border:1px solid rgba(255,204,1,1);
    border-left: none;
}

.advantage-sec .sec-item.primary .sec-item_cont-p {
    font-weight:400;
}

.advantage-sec .sec-item_header {
    height: 100px;
    background: rgba(239, 239, 239, 1);
    border-radius: 8px 0px 0px 0px;
    line-height: 100px;
    font-size: 28px;
    font-weight: 300;
    color: rgba(13, 37, 62, 1);
}

.advantage-sec .sec-item_cont {
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 0px 8px;
    border: 1px solid rgba(239, 239, 239, 1);
    padding: 34px 0;
}

.advantage-sec .sec-item_cont-p {
    font-size: 24px;
    font-weight: 300;
    color: rgba(13, 37, 62, 1);
    line-height: 33px;
}

.advantage-sec .sec-item_cont-p:not(:first-child) {
    margin-top: 66px;
}

.advantage-sec .header-inner {
    display: inline-block;
}
.advantage-sec .header-tag {
    display: inline-block;
    width: 65px;
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 204, 1, 1);
}


.sec2{
    position: relative;
    margin-top: 170px;
}

.sec2-hd{
    background: url(../images/b2.jpeg) no-repeat center center;
    background-size: cover;
    height: 645px; 
}

.sec2-main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}

.sec2-main_title{
    font-size:22px;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:30px;
    margin-top: 175px;
}

.sec2-main_slogan{
    font-size:46px;
    font-weight:500;
    max-width: 670px;
    color:rgba(255,255,255,1);
    line-height:65px;
    text-shadow:0px 0px 50px rgba(13,37,62,1);
    margin-bottom: 35px;
    margin-top: 10px;
}

.sec2-ft{
    position: absolute;
    z-index: 9;
    top: -42px;
    right: 20px;
    width: 660px;
}

.sec2-ft .ft-item{
    width:540px;
    height:230px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 60px 10px rgba(13,37,62,0.1);
    border-radius:4px;
    padding: 0 60px;
    overflow: hidden;
}

.sec2-ft .ft-item:not(:first-child){
    margin-top: 20px;
}

.sec2-ft .ft-item_title{
    font-size:30px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:42px;
    margin-top: 50px;
}

.sec2-ft .ft-item_desc{
    font-size:22px;
    font-weight:300;
    color: #9ea8b2;
    line-height:32px;
    margin-top: 18px;
}

.price-sec{
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.price-sec .sec-item{
    width: 510px;

}

.price-sec .item-header{
    height:250px;
    background:rgba(30,136,245,1);
    box-shadow:0px 2px 30px 0px rgba(30,136,245,0.3);
    border-radius:4px 4px 0px 0px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.price-sec .item-header_title{
    font-size:28px;
    margin-top: 80px;
    letter-spacing:6px;
    font-weight:300;
}

.price-sec .item-header_price{
    font-size:60px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:71px;
    margin-top: 5px;
}

.price-sec .item-header_desc{
    font-size:30px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    vertical-align: super
}

.price-sec .item-cont{
    height: 495px;
    background:rgba(255,255,255,1);
    box-shadow:0px 20px 60px 10px rgba(13,37,62,0.05);
    border-radius:4px;
    border:1px solid rgba(238,238,238,1);
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.price-sec .item-cont_hd{
    flex:1;
    font-size:22px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:30px;
}

.price-sec .item-cont_success{
    width: 46px;
    vertical-align: middle
}

.price-sec .item-cont_p{
    margin-top: 30px
}

.price-sec  .item-cont_ft{
    width:390px;
    height:64px;
    line-height: 64px;
    text-align: center;
    margin:0 auto 60px;
    background:rgba(30,136,245,1);
    box-shadow:0px 0px 20px 0px rgba(30,136,245,0.4);
    border-radius:4px;

    font-size:20px;
    font-weight:500;
    color:rgba(255,255,255,1);
    letter-spacing:1px;
}

.price-sec .sec-item.primary{
    margin-left: 60px;
}

.price-sec .sec-item.primary .item-header{
    background:rgba(0,75,152,1);
}

.price-sec .sec-item.primary .item-cont_ft{
    background:rgba(0,75,152,1);
}

.step-sec{
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.step-sec .sec-item{
    text-align: center;
    width: 252px;
}

.step-sec .item-title{
    font-size:28px;
    font-weight:300;
    color:rgba(13,37,62,1);
    margin-top: 25px;
}

.step-sec .item-img{
    width:180px
}

.step-sec .arrow-img{
    width: 9px;
    margin-top: 83px
}


.step-sec-mobile{
    padding: 0 20px;
    display: none;
}

.step-sec-mobile .sec-cell{
    display: flex;
    margin-top: 50px
}

.step-sec-mobile .sec-item{
    text-align: center;
    flex: 1
}

.step-sec-mobile  .item-title{
    font-size:16px;
    font-weight:300;
    color:rgba(13,37,62,1);
    margin-top: 25px;
}

.step-sec-mobile .item-img{
    width: 100px;
}

.step-sec-mobile .arrow-img{
    width: 8px;
    margin-top: 40px
}


.comment-swiper{
    margin-top: 190px;
}

.comment-item{
    background:rgba(244,248,252,1);
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.comment-item .item-main{
    max-width: 1280px;
}

.comment-item .item-title{
    font-size:38px;
    font-weight:400;
    color:rgba(13,37,62,1);
    line-height:53px;
}

.comment-item .cell-hd{
    width: 186px;
    height: 186px;
    flex-shrink:0;
    font-size: 0px;
}

.comment-item .item-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-item .item-cell{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.comment-item .cell-ft{
    margin-left: 40px;
}

.comment-item .cell-ft_text{
    font-size:24px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:33px;
}

.comment-item .cell-ft_name{
    font-size:24px;
    font-weight:300;
    color:#9ea8b2;
    line-height:33px;
    text-align: right
}

.comment-item .cell-ft_title{
    font-size:20px;
    font-weight:300;
    color:#9ea8b2;
    line-height:28px;
    text-align: right;
    margin-top: 5px
}

.slide-item{
    background:rgba(244,248,252,1);
    height: 376px;
    justify-content: center;
    flex-direction: column;
    display: none;
    padding: 0 20px;
}

.slide-item .item-header{
    text-align: center;
}

.slide-item .item-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.slide-item .item-title{
    font-size:20px;
    font-weight:400;
    color:rgba(13,37,62,1);
    line-height:28px;
    margin-top: 20px;
}

.slide-item .item-message{
    font-size:14px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:20px;
    margin-top: 10px;
}

.slide-item .item-name{
    font-size:14px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:20px;
    text-align: right;
    margin-top: 10px;
}

.slide-item .item-desc{
    font-size:12px;
    font-weight:300;
    color:rgba(13,37,62,1);
    line-height:20px;
    text-align: right
}

.footer-cell{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: 70px auto;
}

.footer-cell .cell-hd{
    width: 448px;
}

.footer-cell .cell-title{
    font-size:28px;
    font-weight:500;
    color:rgba(13,37,62,1);
    line-height:40px;
    letter-spacing:1px;
}

.footer-cell .cell-hd_desc{
    font-size:22px;
    font-weight:500;
    color:#9ea8b2;
    line-height:36px;
    margin-top: 33px;
}

.footer-cell .cell-hd_link{
    display: block;
    margin-top: 20px;
    color:rgba(13,37,62,1);
    font-size: 16px;
    font-weight: 400
}

.footer-cell .qq{
    margin-left: 10px;
}

.footer-cell .cell-ft{
    width: 320px;
}

.footer-cell .cell-friend{
    margin-top: 30px;
    margin-left: -20px;
}
.footer-cell .cell-friend_link{
    margin-bottom: 20px;
    margin-left: 20px;
}

.footer-cell .cell-friend_img{
    width: 150px;
    height: 94px;
    vertical-align: middle
}



.mask{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    background: rgba(0,0,0, .6);
    display: none;
    opacity: 0;
    transition: all .5s
}

.mask.active{
    opacity: 1
}

.qrcode{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 40%;
    width: 60%;
    max-width: 600px;
    min-width: 320px;
    transform: translate(-50%, -60%);
    border-radius: 8px;
    background: #fff;
    text-align: center;
    opacity: 0;
    transition: all .3s;
}

.qrcode.active{
    transform: translate(-50%, -50%);
    opacity: 1;
}

.qrcode.wx .qrcode-title_wx{
    display: block
}

.qrcode.zhifubao .qrcode-title_zhifubao{
    display: block
}

.qrcode .qrcode-close{
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 0px;
    padding: 20px;
    cursor: pointer;
}

.qrcode .qrcode-title{
    margin: 30px 0;
    font-size: 26px;
    display: none
}

.qrcode .qrcode-title_wx{
    color: #09bb07;
}

.qrcode .qrcode-title_zhifubao{
    color: #00aae8
}

.qrcode .qrcode-amount{
    font-size: 20px;
    
}

.qrcode .qrcode-amount_primary{
    font-size: 40px;
}

.qrcode .qrcode-canvas{
    margin: 0 auto
}

.message{
    display: none;
    position: fixed;
    z-index: 1001;
    top:50px;
    left: 50%;
    transform: translate3d(-50%, -20px, 0);
    height: 48px;
    line-height: 48px;
    padding: 0 25px;
    border-radius: 4px;
    min-width: 150px;
    opacity: 0;
    transition: all .35s;
}


.message.active{
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
}


.message.success .success-icon{
    display: initial
}

.message.fail .fail-icon{
    display: initial
}

.message .icon{
    margin-right: 5px;
    display: none;
}

.message.success{
    background: #f0f9eb;
    border:1px solid #e1f3d8;
    color: #67C23A
}

.message.fail{
    background: #fef0f0;
    border:1px solid #fde2e2;
    color: #F56C6C
}

@media (max-width: 1450px) {
    .sec2-main_slogan{
        max-width: 420px;    
    }
}


@media (max-width: 1200px) {
    .test-sec{
        display: block;
    }

    .test-sec .sec-item{
        margin: 0 auto
    }

    .test-sec .sec-item:not(:first-child){
        margin: 30px auto
    }

    .advantage-sec{
        display: block;
    }
    .advantage-sec .sec-item{
        margin: 0 auto
    }

    .advantage-sec .sec-item.primary{
        margin-top: 30px
    }

    .advantage-sec .sec-item .sec-item_header{
        border-radius: 8px 8px 0 0;
    }

    .advantage-sec .sec-item.primary .sec-item_header{
        border-radius: 8px 8px 0 0;
    }

    .advantage-sec .sec-item .sec-item_cont{
        border-radius: 0 0 8px 8px;
    }

    .advantage-sec .sec-item.primary .sec-item_cont{
        border-left: 1px solid rgba(255,204,1,1);
        border-radius: 0 0 8px 8px;
    }

    .sec2-main{
        width: auto;
        padding: 0 28px;
    }

    .sec2-ft{
        position: relative;
        top:0px;
        right: 0px;
        margin: 40px auto;
    }

    .sec2-main_slogan{
        max-width: 100%
    }

    .price-sec{
        display: block;
    }

    .price-sec .sec-item{
        margin: 0 auto;
    }

    .price-sec .sec-item.primary{
        margin: 30px auto
    }
}

@media (max-width: 768px) {
    nav{
        height: 60px;
    }
    
    .nav-hidden{
        top: 60px
    }

    .nav-icon{
        display: block;
    }

    .nav-inner{
        height: 60px;
    }

    .logo{
        height: 30px;
    }

    .slogan{
        font-size: 32px;
        line-height: 54px;
        font-weight: 400
    }

    .nav-hd{
        font-size: 16px;
    }
    .nav-bd{
        display: none;
    }

    .nav-inner .btn{
        display: none
    }

    .btn{
        height: 44px;
        width: 110px;
        line-height: 44px;
        font-size: 16px;
    }
    .title{
        font-size: 24px;
        line-height: 33px;
        margin-top: 60px
    }

    .desc{
        font-size: 16px;
        margin: 0;
        padding: 0 20px;
    }

    .test-sec{
        margin-top: 50px;
    }

    .test-sec .sec-item{
        width: auto;
        margin: 0 20px;
        height: auto;
        padding-bottom: 80px
    }

    .test-sec .sec-item:not(:first-child){
        margin: 0 20px;
    }

    .test-sec .item-input input{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .test-sec .item-input{
        padding: 0 20px;
        margin-top: 30px;
    }

    .test-sec .item-btn{
        height: 44px;
        line-height: 44px;
        margin: 50px auto 0
    }

    .advantage-sec{
        margin: 30px auto;
    }

    .advantage-sec .sec-item{
        margin: 0 20px;
        width: auto;
    }

    .advantage-sec .sec-item_cont-p{
        font-size: 13px;
        line-height:18px;
    }

    .advantage-sec .sec-item_cont-p:not(:first-child){
        margin-top: 22px;
    }

    .advantage-sec .sec-item_header{
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }

    .advantage-sec .header-tag{
        width:52px;
        height:24px;
        line-height: 24px;
        font-size:14px;
    }

    .sec2{
        margin-top: 80px;
    }

    .sec2-hd{
        height: 250px;
    }

    .sec2-main{
        padding: 0 15px;
    }

    .sec2-main_title{
        font-size: 14px;
        margin-top: 45px;
    }

    .sec2-main_slogan{
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 20px
    }

    .sec2-ft{
        width: auto;
    }

    .sec2-ft .ft-item{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 30px;
        height: 130px;
    }

    .sec2-ft .ft-item_title{
        font-size: 20px;
        margin-top: 24px;
        line-height: 28px;
    }

    .sec2-ft .ft-item_desc{
        font-size: 12px;
        line-height: 22px;
        margin-top: 10px;
    }

    .price-sec .sec-item{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .price-sec .item-header{
        height: 175px;
    }

    .price-sec .item-header_title{
        font-size: 18px;
        margin-top: 38px;
    }

    .price-sec .item-cont_hd{
        font-size: 16px;
        line-height: 30px;
    }

    .price-sec .item-cont_success{
        width: 30px;
    }
    .price-sec .item-cont{
        padding: 0 15px;
        height: 280px;
    }

    .price-sec .item-cont_p{
        margin-top: 15px;
    }

    .price-sec .item-cont_ft{
        height: 44px;
        line-height: 44px;
        width: 100%;
        margin: 0 0 35px 0;
    }

    .price-sec .sec-item.primary{
        margin-left: 20px;
        margin-right: 20px;
    }

    .step-sec {
        display: none
    }

    .step-sec-mobile{
        display: block
    }

    .comment-item{
        display: none;
    }
    .slide-item{
        display: flex
    }

    .footer-cell{
        display: block;
        padding: 0 20px;
        margin: 40px auto
    }
    .footer-cell .cell-hd{
        width: 100%
    }
    .footer-cell .cell-title{
        font-size: 18px;
        line-height: 25px;
    }

    .footer-cell .cell-hd_desc{
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
    }

    .footer-cell .cell-hd_link{
        margin-bottom: 30px;
    }

    .footer-cell .cell-friend{
        margin-top: 20px;
    }

    .comment-swiper{
        margin-top: 90px;
    }
}

